
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Noto+Sans+KR:wght@100..900&family=Orbit&display=swap');

*{
    font-family: "IBM Plex Sans KR", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    display: flex;
    height: 100vh;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../images/backgroundimage.png') center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}
strong{
    color : #f09c1e;
}
main h4{
    font-size: 3rem;
}
main h2{
    font-size: 3.5rem;
    margin: 2rem 0;
    letter-spacing: 3px;

}
main p{
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.25rem;
}
main .start{
    background-color: transparent ;
    border: 3px solid white;
    border-radius: 20px;
    padding: 1rem 3rem;
    margin-top: 4rem;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

main h2 span::after{
    content: "";
    height: 50px;
    width: 3px;
    background-color: #fff;
    display: inline-block;
    animation:blink .7s ease-in-out infinite;
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.navbar-logo {
    height: 60px; /* 네비바 높이와 비슷하게 */
    width: auto;  /* 비율 유지 */
    vertical-align: middle;
}

#about {
    text-align: left; /* 전체 내용 왼쪽 정렬 */
    padding-left: 2rem; /* 좌측 여백 */
}

.footer {
    padding-top: 10rem;
    text-align: center;
    background-color: #10253a;
    color: white; /* 텍스트 색상 */
    align-items: center;
    justify-content: space-between;
}
.footer .copyright {
    margin-left: auto; /* 오른쪽 정렬 */
    font-size: 1rem;
}
.footer img {
    width: 180px; /* 로고 크기 조정 */
}
