
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Noto+Sans+KR:wght@100..900&family=Orbit&display=swap');

*{
    font-family: "IBM Plex Sans KR", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1B1F3A;
}

main{
    background-color: #1B1F3A;
    width: 100%;
    display: flex;
    height: 100vh;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../images/backgroundimage.png') center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}
strong{
    color : #FF9800;
}
main h4{
    font-size: 3rem;
}
main h2{
    font-size: 3.5rem;
    margin: 2rem 0;
    letter-spacing: 3px;

}
main p{
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.25rem;
}
main .start{
    background-color: transparent ;
    border: 3px solid white;
    border-radius: 20px;
    padding: 1rem 3rem;
    margin-top: 4rem;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

main h2 span::after{
    content: "";
    height: 50px;
    width: 3px;
    background-color: #fff;
    display: inline-block;
    animation:blink .7s ease-in-out infinite;
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.navbar-logo {
    height: 60px; /* 네비바 높이와 비슷하게 */
    width: auto;  /* 비율 유지 */
    vertical-align: middle;
}

#about {
    text-align: left; /* 전체 내용 왼쪽 정렬 */
    padding-left: 2rem; /* 좌측 여백 */
}

.footer {
    padding-top: 10rem;
    text-align: center;
    background-color: #1B1F3A;
    color: white; /* 텍스트 색상 */
    align-items: center;
    justify-content: space-between;
}
.footer .copyright {
    margin-left: auto; /* 오른쪽 정렬 */
    font-size: 1rem;
}
.footer img {
    width: 180px; /* 로고 크기 조정 */
}

/* 스위치 버튼 기본 색상 변경 */
.form-check-input:checked {
    background-color: #28a745 !important;  /* 녹색 */
    border-color: #28a745 !important;
}

/* 스위치 버튼이 비활성화되었을 때 */
.form-check-input {
    background-color: #ddd !important; /* 회색 */
    border-color: #bbb !important;
}

/* 스위치 버튼이 활성화되었을 때 마우스 호버 효과 */
.form-check-input:checked:hover {
    background-color: #218838 !important; /* 더 진한 녹색 */
}

.tagify-outside{
    --tag-bg: #A29BFE;
    border: 0;
}
.tagify--outside .tagify__input {
    order: -1;
    flex: 100%;
    border: 1px solid var(--tags-border-color);
    margin-bottom: 1em;
    transition: .1s;
}

.tagify--outside .tagify__input:hover {
    border-color: var(--tags-hover-border-color);
}

.tagify--outside.tagify--focus .tagify__input {
    transition: 0s;
    border-color: var(--tags-focus-border-color);
}


.tagify {
    width: 100%;
    max-width: 400px; /* 선택 상자의 최대 너비 조절 */
    min-height: 40px; /* 높이를 명확하게 설정 */
}

.timebox{
    background-color: white;
}

.dropdown-divider{
    border-top: 1px solid black;
}

.custom-room{
    background-color: #f4f6f9;
}

.icon-blue{
    color : #2980b9;
}

.badge-background{
    background-color: #2980b9;
}

.room-content{
    color:#2c3e50;
}

.room-title{
    color: #34495e;
}