<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragment.html :: head}"></head>
<body>
<div th:replace="~{fragment.html :: main-nav}"></div>

<div class="container text-white">
        <div class="row mt-5 justify-content-center">
            <div class="col-2">
                <img th:src="${account.profileImage != null and account.profileImage != '' ? account.profileImage : '/images/default.png'}"
                     alt="프로필 사진"
                     class="img-fluid rounded-circle"
                     style="max-width: 150px;">
            </div>
            <div class="col-8">
                    <h1 th:text="${account.nickname}">닉네임</h1>
                <p class="lead" th:if="${!#strings.isEmpty(account.bio)}" th:text="${account.bio}">bio</p>
                <p class="lead text-white" th:if="${#strings.isEmpty(account.bio) && isOwner}">
                    한 줄 소개를 추가하세요.
                </p>
            </div>
        </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
        </div>
        <div class="col-8">
            <p th:if="${!#strings.isEmpty(account.url)}">
                            <span style="font-size: 20px;">
                                <i class="fa-solid fa-link" style="color: #B197FC;"></i>
                            </span>
                <span th:text="${account.url}" class="col-11"></span>
            </p>
            <p th:if="${!#strings.isEmpty(account.gender)}">
                            <span style="font-size: 20px;">
                              <i class="fa-solid fa-venus-mars" style="color: #B197FC;"></i>
                            </span>
                <span th:text="${account.gender.displayName}" class="col-9"></span>
            </p>
            <p th:if="${!#strings.isEmpty(account.location)}">
                            <span style="font-size: 20px;">
                                <i class="fa-solid fa-location-dot" style="color: #B197FC;"></i>
                            </span>
                <span th:text="${account.location}" class="col-9"></span>
            </p>
            <p th:if="${isOwner}">
                            <span style="font-size: 20px;">
                               <i class="fa-regular fa-envelope " style="color: #B197FC;"></i>
                            </span>
                <span th:text="${account.email}" class="col-9"></span>
            </p>
            <p>
                <span style="font-size: 20px;">
                    <i class="fa-solid fa-user-check" style="color: #B197FC;"></i>
                </span>

                <!-- 본인 계정(isOwner) + 미인증(account.emailVerified=false)인 경우 -->
                <span th:if="${isOwner and !account.emailVerified}" class="col-9">
                    <a class="text-white fw-bold" href="#" th:href="@{/check-email}">프로필을 수정하려면 이메일을 확인하세요.</a>
                </span>

                <!-- 본인 또는 다른 사람의 프로필에서, 인증이 완료된 경우 -->
                <span th:if="${account.emailVerified}" class="col-9">이메일 인증 완료</span>

                <!-- 다른 사람의 프로필에서, 인증되지 않은 계정인 경우 -->
                <span th:if="${!isOwner and !account.emailVerified}" class="col-9">인증되지 않은 계정입니다.</span>
            </p>
            <div sec:authorize="hasRole('USER')"  th:if="${isOwner}">
                <a class="btn btn-outline-primary fw-bold" href="#" th:href="@{/settings/profile}">프로필 수정</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
