<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment.html :: head}"></head>
<body style="background-color: #1B1F3A; color: white;">
<nav th:replace="~{fragment.html :: main-nav}"></nav>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4 rounded" style="width: 400px; background-color: white;">

        <h3 class="text-center mb-4 fw-bold">새 비밀번호 설정</h3>
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <small th:text="${error}">유효하지 않은 이메일입니다.</small>
        </div>

        <div th:if="${message}" class="alert alert-success" role="alert">
            <small th:text="${message}">입력하신 이메일로 비밀번호 재설정 링크를 전송했습니다.</small>
        </div>

        <form class="needs-validation" th:action="@{/reset-password/confirm}"  th:object="${passwordForm}" method="post" novalidate>
            <input type="hidden" name="token" th:value="${token}">
            <div class="mb-3">
                <label for="newPassword" class="form-label">새 비밀번호</label>
                <input id="newPassword" type="password" th:field="*{newPassword}" class="form-control" placeholder="새 비밀번호 입력" required>
                <div class="invalid-feedback">비밀번호를 입력하세요.</div>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">
                    패스워드 에러
                </small>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">비밀번호 확인</label>
                <input id="password" type="password" class="form-control"  th:field="*{newPasswordConfirm}"  placeholder="비밀번호 확인" required>
                <div class="invalid-feedback">비밀번호가 일치하지 않습니다.</div>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('newPasswordConfirm')}" th:errors="*{newPasswordConfirm}">
                    패스워드가 일치하지 않습니다.
                </small>
            </div>
            <button type="submit" class="btn btn-primary w-100">비밀번호 변경</button>
        </form>
    </div>
</div>
<div th:replace="~{fragment.html :: footer}"></div>

<script th:replace="~{fragment.html :: validators}"></script>
</body>
</html>