<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:fragment="head">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>겜할래</title>
         <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/node_modules/summernote/dist/summernote-bs5.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/node_modules/summernote/dist/summernote-bs5.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16928784573">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-16928784573');
    </script>
</head>
<body>
<nav th:fragment="main-nav" class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
    <div class="container-fluid">
        <!-- 로고/브랜드 -->
        <a class="navbar-brand d-flex align-items-center me-4 text-white" th:href="@{/}">
            <img src="/images/gamegogo.png" alt="겜할래" class="navbar-logo me-2" width="50">
            <span class="fw-bold">겜할래</span>
        </a>

        <!-- 모바일 토글 버튼 -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- 실제 메뉴 부분 -->
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ms-auto align-items-center">

                <!-- 로그인/가입 (비인증 상태에서만 표시) -->
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link text-white" th:href="@{/login}">로그인</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link text-white" th:href="@{/sign-up}">가입</a>
                </li>

                <!-- 메시지 아이콘 (인증 상태에서만 표시) -->
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link text-white" th:href="@{/messages}">
                        <!-- 메시지 유무에 따른 아이콘 표시 -->
                        <i th:if="${!hasMessage}" class="fa-regular fa-xl fa-envelope-open" style="color: #FFD43B"></i>
                        <i th:if="${hasMessage}" class="fa-regular fa-xl fa-bounce fa-envelope" style="color: #FFD43B"></i>
                    </a>
                </li>

                <!-- 방 개설 버튼 (인증 상태에서만 표시) -->
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <!-- 버튼처럼 보이게 하려면 btn 클래스를 추가하되, nav-link 대신 별도 스타일 사용 가능 -->
                    <a class="nav-link btn btn-outline-warning text-white" th:href="@{/new-room}">
                        <i class="fa fa-plus" aria-hidden="true"></i> 방 개설
                    </a>
                </li>

                <!-- 프로필(드롭다운) (인증 상태에서만 표시) -->
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle p-0" id="userDropdown" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img th:src="${currentAccount != null && !#strings.isEmpty(currentAccount.profileImage)
                                     ? currentAccount.profileImage : '/images/default.png'}"
                             class="img-fluid rounded-circle profile-image"
                             width="32" height="32"
                             alt="User Avatar"
                             th:alt="${currentAccount != null ? currentAccount.nickname : 'Default User'}" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li>
                            <h6 class="dropdown-header">
                                <span sec:authentication="name">Username</span>
                            </h6>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{'/profile/' + ${#authentication.name}}">프로필</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" sec:authorize="hasRole('USER')" th:href="@{/settings/profile}">
                                설정
                            </a>
                        </li>
                        <li>
                            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                                <button class="dropdown-item" type="submit">로그아웃</button>
                            </form>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>





<div class="list-group" th:fragment="settings-menu (currentMenu)">
    <a th:href="@{/settings/profile}" class="list-group-item list-group-item-action list-group-item-secondary" th:classappend="${currentMenu == 'profile'}? active" >프로필 설정</a>
    <a th:href="@{/settings/password}" class="list-group-item list-group-item-action list-group-item-secondary" th:classappend="${currentMenu == 'password'}? active">비밀번호 변경</a>
    <a th:href="@{/settings/messages}" class="list-group-item list-group-item-action list-group-item-secondary" th:classappend="${currentMenu == 'message'}? active">메시지</a>
    <a th:href="@{/settings/games}" class="list-group-item list-group-item-action list-group-item-secondary" th:classappend="${currentMenu == 'games'}? active">관심 게임</a>
    <a th:href="@{/settings/times}" class="list-group-item list-group-item-action list-group-item-secondary" th:classappend="${currentMenu == 'times'}? active">플레이 시간</a>
    <a th:href="@{/settings/account}" class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'account'}? active">계정 삭제</a>
</div>

<div class="list-group mt-3" th:fragment="room-settings-menu (currentMenu)">
    <a th:href="@{'/room/' + ${room.path} + '/settings/description'}" class="list-group-item list-group-item-action list-group-item-secondary" th:classappend="${currentMenu == 'description'}? active" >소개</a>
    <a th:href="@{'/room/' + ${room.path} + '/settings/banner'}" class="list-group-item list-group-item-action list-group-item-secondary" th:classappend="${currentMenu == 'banner'}? active">이미지</a>
    <a th:href="@{'/room/' + ${room.path} + '/settings/games'}" class="list-group-item list-group-item-action list-group-item-secondary" th:classappend="${currentMenu == 'games'}? active">주 게임</a>
    <a th:href="@{'/room/' + ${room.path} + '/settings/times'}" class="list-group-item list-group-item-action list-group-item-secondary" th:classappend="${currentMenu == 'times'}? active">주 시간</a>
    <a th:href="@{'/room/' + ${room.path} + '/settings/room'}"  class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'room'}? active">방 설정</a>
</div>


<div th:fragment="room-menu (roomMenu)" class="custom-room row px-3 justify-content-center">
    <div class="col-10 nav nav-tabs">
        <a class="nav-item nav-link icon-blue" href="#" th:classappend="${roomMenu == 'info'}? active" th:href="@{'/room/' + ${room.path}}">
            <i class="fa fa-info-circle icon-blue"></i> 소개
        </a>
        <a class="nav-item nav-link icon-blue" href="#" th:classappend="${roomMenu == 'members'}? active" th:href="@{'/room/' + ${room.path} + '/members'}">
            <i class="fa fa-users icon-blue"></i> 멤버
        </a>
        <a class="nav-item nav-link icon-blue" th:classappend="${roomMenu == 'events'}? active" href="#" th:href="@{'/room/' + ${room.path} + '/events'}">
            <i class="fa fa-calendar icon-blue"></i> 모집
        </a>
        <a class="nav-item nav-link icon-blue" th:if="${isMemberOrManager} or ${isMaster}" th:classappend="${roomMenu == 'reviews'}? active" href="#" th:href="@{'/room/' + ${room.path} + '/reviews'}">
            <i class="fa fa-star icon-blue"></i> 리뷰
        </a>
        <a sec:authorize="isAuthenticated()"  th:if="${isMaster}"
           class="nav-item nav-link icon-blue" th:classappend="${roomMenu == 'settings'}? active" href="#" th:href="@{'/room/' + ${room.path} + '/settings/description'}">
            <i class="fa fa-cog icon-blue"></i> 설정
        </a>
    </div>
</div>




<div th:fragment="room-info">
    <div class="row text-left justify-content-center" >
        <div class="row gx-0 gy-0" id="room-banner" th:if="${room.useBanner} ">
            <img th:src="${room.useBanner && !#strings.isEmpty(room.image) ? room.image : '/images/default_banner.jpg'}"
                 alt="Room Banner" class="banner img-fluid"/>
        </div><hr>
        <div class="col-6">
            <a th:href="@{'/room/' + ${room.path}}" class="text-decoration-none">
                <span class="h2 room-title"  th:text="${room.title}">게임 방 이름</span>
            </a>
        </div>
        <div class="col-4 text-end justify-content-end">
                <span th:if="${!room.active}" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="방 공개 준비중">
                    <button class="btn btn-secondary btn-sm" style="pointer-events: none;" type="button" disabled>준비중</button>
                </span>

                <span th:if="${room.closed}" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="비활성화">
                    <button class="btn btn-secondary btn-sm" style="pointer-events: none;" type="button" disabled>CLOSED</button>
                </span>

                <span th:if="${!room.recruiting}" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="팀원 모집 중 아님">
                    <button class="btn btn-secondary btn-sm" style="pointer-events: none;" type="button" disabled>OFF</button>
                </span>

                <span sec:authorize="isAuthenticated()" th:if="${room.isJoinAble(#authentication.principal)}" class="btn-group" role="group" >
                    <form th:action="@{'/room/' + ${room.path} + '/join'}" method="post" style="display: inline;">
                        <button class="btn btn-outline-primary icon-blue" type="submit">참가</button>
                    </form>
                    <a class="btn btn-outline-primary" th:href="@{'/room/' + ${room.path} + '/members'}" th:text="${room.memberCount}">2</a>
                </span>

                <span sec:authorize="isAuthenticated()" th:if="${!room.closed && isMemberOrManager}" class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-primary icon-blue" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        탈퇴
                    </button>
                    <a class="btn btn-outline-primary icon-blue" th:href="@{'/room/' + ${room.path} + '/members'}" th:text="${room.memberCount}">2</a>
                </span>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">방 탈퇴</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body " style="text-align: left">정말로 방을 탈퇴하시겠습니까?<br>
                            탈퇴 후, 다시 참가하면 기존 권한이 아닌 게스트 권한으로 참가됩니다.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            <form th:action="@{'/room/' + ${room.path} + '/leave'}" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-danger" >탈퇴</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
                <span sec:authorize="isAuthenticated()"  th:if="${room.active && !room.closed && isManagerOrMaster}">
                    <a class="btn btn-outline-primary icon-blue" th:href="@{'/room/' + ${room.path} + '/new-event'}">
                        <i class="fa fa-plus icon-blue"></i> 파티원 모집
                    </a>
                </span>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10">
            <p class="lead room-content"  th:text="${room.shortDescription}"></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <p>
                    <span th:each="game : ${room.games}" class="font-weight-light text-monospace badge badge-custom me-3">
                        <a href="#" class="text-decoration-none text-white">
                            <i class="fa fa-tag"></i> <span th:text="${game.name}">Game</span>
                        </a>
                    </span>
                <span th:if="${room.timePreference != null}" class="font-weight-light text-monospace badge badge-custom mr-3">
                            <a th:href="@{'/search/time/' + ${room.timePreference}}" class="text-decoration-none text-white">
                               <i class="fa fa-clock"></i> <span th:text="${room.timePreference.getValue()}">time</span>
                            </a>
                    </span>
            </p>
        </div>
    </div>
</div>

<div th:fragment="room-list (roomPage)">
    <div class="row">
        <div class="col-md-4" th:each="room : ${roomPage}">
            <div class="position-relative">
                <div class="card mb-4 shadow-sm  mt-4">
                    <img th:src="${room.useBanner && !#strings.isEmpty(room.image) ? room.image : '/images/default_banner.jpg'}"
                         alt="Room Banner" class="img-fluid rounded" style="height: 150px; width: 100%;">
                    <div class="card-body">
                        <a th:href="@{'/room/' + ${room.path}}" class="text-decoration-none">
                            <h5 class="card-title context" th:text="${room.title}"></h5>
                        </a>
                        <p class="card-text" th:text="${room.shortDescription}">Short Description</p>
                        <p class="card-text context">
                            <span th:each="game : ${room.games}" class="font-weight-bold text-monospace badge badge-pill badge-custom me-2">
                                <span class="text-white">
                                    <i class="fa fa-tag"></i>
                                    <span th:text="${game.name}">Game</span>
                                </span>
                            </span>
                            <span th:if="${room.timePreference != null}" class="font-weight-light text-monospace badge badge-custom me-2">
                        <span class="text-white">
                            <i class="fa fa-clock"></i>
                            <span th:text="${room.timePreference.getValue()}">time</span>
                        </span>
                       </span>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">
                                <i class="fa fa-users icon-blue"></i>
                                <span th:text="${room.memberCount + 1}"></span>명
                            </small>
                            <small class="text-muted date datetime" th:text="${room.activeDateTime}">9 mins</small>
                        </div>
                    </div>
                </div>
                <div th:if="${room.averageRating != null && room.averageRating > 0.0}"
                     class="rating-box  mb-2"
                     style="position: absolute; bottom: -2rem; background-color: #1B1F3A;">
                    <!-- 별 아이콘 5개 루프 -->
                    <span th:each="i : ${#numbers.sequence(1,5)}"
                          class="fa-star me-1"
                          th:classappend="${i <= room.averageRating} ? 'fas text-warning' : 'far text-warning'">
                          </span>
                    <!-- 점수 숫자 표시 (ex. 4.0) -->
                    <span class="ms-1 fw-bold text-warning" th:text="${#numbers.formatDecimal(room.averageRating, 1, 1)}"></span>
                </div>
            </div>
        </div>
    </div>
</div>



<script th:fragment="tooltip" type="application/javascript">
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>


<script th:fragment="validators">
    document.addEventListener("DOMContentLoaded", function() {
        (() => {
            'use strict'

            const forms = document.querySelectorAll('.needs-validation')

            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        })();
    });
</script>

<script th:fragment="summernote">
    $(document).ready(function() {
        $('.summernote').summernote({
            dialogsInBody: true,    // 모달을 <body> 직속에 생성
            dialogsFade: true,      // 모달 등장 애니메이션 (원하는 경우)
            lang: "ko-KR",
            placeholder: '게임 스타일, 목표 점수, 디스코드 링크 등 게임 방에 대해 자세히 적어주세요.',
            tabsize: 2,
            height: 300,
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS' ,'Courier New', '맑은 고딕', '나눔고딕'],
            fontNamesIgnoreCheck: ['맑은 고딕', '나눔고딕'], // 시스템에 없는 폰트도 허용
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript', 'fontsize', 'fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ],
            defaultFontName: '맑은 고딕'
        });

    });
</script>


<ul th:fragment="message-list (messages)" class="list-group list-group-flush">
    <a th:href="@{${mes.link}}" th:each="mes: ${messages}"
       class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <small class="text-muted" th:text="${mes.title}">Message Title</small>
            <small class="text-muted send-date" th:text="${mes.createdDateTime}">3일전</small>
        </div>
        <p th:text="${mes.message}" class="text-left mb-0 mt-1">message</p>
    </a>
</ul>


<footer th:fragment="footer" class="footer text-white text-center py-3">
    <div class="container d-flex justify-content-center align-items-center">
        <img src="/images/gamefooter.png" alt="푸터 로고" class="me-2" width="120">
        <span>© 2025</span>
    </div>
</footer>

</body>
</html>