<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragment.html :: head}"></head>
<body>
<div th:replace="~{fragment.html :: main-nav}"></div>

<div class="alert alert-warning text-center mb-0" role="alert" th:if="${account != null && !account.emailVerified}" style="padding-top: 46px">
    프로필을 수정하려면 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 메일을 확인</a>하세요.
</div>
<div class="container mt-5">

    <div class="row mt-4">
        <div class="col-12 text-center mt-5">
            <form th:action="@{/search/room}" sec:authorize="isAuthenticated()" method="get" class="mx-auto" style="max-width: 600px;">
                <div class="input-group input-group-lg rounded-pill overflow-hidden shadow">
                    <!-- 검색 아이콘 -->
                    <span class="input-group-text bg-white border-0" id="search-icon">
                        <i class="fa fa-search text-muted"></i>
                    </span>
                    <!-- 검색 인풋 -->
                    <input type="search"
                           class="form-control border-0"
                           placeholder="원하는 게임을 검색하세요."
                           aria-label="Search"
                           name="keyword"
                           aria-describedby="search-icon">
                </div>
            </form>
        </div>
    </div>

    <!-- 탭 메뉴 -->
    <div class="row mt-4">
        <div class="col-12">
            <!-- Bootstrap Nav Tabs -->
            <ul class="nav nav-pills nav-fill" id="roomTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active"
                            id="managing-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#managing"
                            type="button"
                            role="tab"
                            aria-controls="managing"
                            aria-selected="true">
                        관리중인 방
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            id="joined-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#joined"
                            type="button"
                            role="tab"
                            aria-controls="joined"
                            aria-selected="false">
                        참가 중인 방
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            id="match-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#match"
                            type="button"
                            role="tab"
                            aria-controls="match"
                            aria-selected="false">
                       추천 방
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            id="allrooms-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#allrooms"
                            type="button"
                            role="tab"
                            aria-controls="allrooms"
                            aria-selected="false">
                        전체 방
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="roomTabContent">
                <!-- 탭1: 관리중인 방 -->
                <div class="tab-pane fade show active"
                     id="managing"
                     role="tabpanel"
                     aria-labelledby="managing-tab"
                     tabindex="0">
                    <div class="row">
                        <div th:if="${roomMasterOf.isEmpty()}">
                            <div class="row justify-content-center">
                                <h3 class="text-center text-white mt-5">관리중인 방이 없습니다.</h3>
                            </div>
                        </div>
                        <div th:replace="~{fragment.html:: room-list (roomPage = ${roomMasterOf})}"></div>
                    </div>
                </div>
                <div class="tab-pane fade"
                     id="joined"
                     role="tabpanel"
                     aria-labelledby="joined-tab"
                     tabindex="0">
                    <div class="row">
                        <div th:if="${roomMemberOf.isEmpty()}">
                            <div class="row justify-content-center">
                                <h3 class="text-center text-white mt-5">참가 중인 방이 없습니다.</h3>
                            </div>
                        </div>
                        <div th:replace="~{fragment.html:: room-list (roomPage = ${roomMemberOf})}"></div>
                    </div>
                </div>
                <div class="tab-pane fade"
                     id="match"
                     role="tabpanel"
                     aria-labelledby="match-tab"
                     tabindex="0">
                    <div class="row">
                        <div  th:if="${roomList.isEmpty()}">
                            <div class="row justify-content-center">
                                <h3 class="text-center text-white mt-5"> 추천 방 목록을 보려면 프로필 설정에서 게임과 시간을 설정하세요.</h3>
                            </div>
                        </div>
                        <div th:replace="~{fragment.html:: room-list (roomPage = ${roomList})}"></div>
                    </div>
                </div>
                <div class="tab-pane fade"
                     id="allrooms"
                     role="tabpanel"
                     aria-labelledby="allrooms-tab"
                     tabindex="0">
                    <div class="row">
                        <div th:replace="~{fragment.html :: room-list (roomPage = ${allActiveRooms})}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragment.html :: footer}"></div>
<script src="/node_modules/dayjs/dayjs.min.js"></script>
<script src="/node_modules/dayjs/locale/ko.js"></script>
<script>
    dayjs.locale('ko');
    document.querySelectorAll('.datetime').forEach(elem => {
        const rawText = elem.innerText.trim();
        if(rawText){
            elem.innerText = dayjs(rawText).format('YYYY년 MM월 DD일 dddd HH:mm');
        }
    });
</script>
</body>
</html>