<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragment.html :: head}"></head>
<body>
<div th:replace="~{fragment.html :: main-nav}"></div>
<div class="container">
    <div class="mt-5 justify-content-center align-items-center" style="color: white;">
        <div class="row">

            <h1 class="fw-bold text-center">겜할래</h1>
            <p class="text-center">관심있는 게임과 플레이 시간대를 설정하세요.<br>게임 친구들을 모을 수 있는 기능을 제공합니다.</p>

            <br/>
            <form th:action="@{/search/room}"  method="get"
                  class="mx-auto" style="max-width: 600px;">
                <div class="input-group input-group-lg rounded-pill overflow-hidden shadow">
                    <!-- 왼쪽 아이콘 영역 -->
                    <span class="input-group-text bg-white border-0" id="search-icon">
                <i class="fa fa-search text-muted"></i>
            </span>
                    <!-- 실제 검색 인풋 -->
                    <input type="search"
                           class="form-control border-0"
                           placeholder="원하는 게임을 검색하세요."
                           aria-label="Search"
                           name="keyword"
                           aria-describedby="search-icon">
                </div>
            </form><br/>
            <div class="row">
                <div th:replace="~{fragment.html :: room-list (roomPage=${roomList})}"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragment.html :: footer}"></div>
<script src="/node_modules/dayjs/dayjs.min.js"></script>
<script src="/node_modules/dayjs/locale/ko.js"></script>
<script>
    dayjs.locale('ko');
    document.querySelectorAll('.datetime').forEach(elem => {
        const rawText = elem.innerText.trim();
        if(rawText){
            elem.innerText = dayjs(rawText).format('YYYY년 MM월 DD일 dddd HH:mm');
        }
    });
</script>
</body>
</html>