<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragment.html :: head}"></head>
<body>
<div th:replace="~{fragment.html :: main-nav}"></div>


    <div class="alert alert-warning text-center mb-0" role="alert" th:if="${account != null && !account.emailVerified}" style="padding-top: 46px">
        프로필을 수정하려면 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 메일을 확인</a>하세요.
    </div>
<div class="container">

    <div class="d-flex justify-content-center align-items-center text-center vh-100" style="color: white;">
        <div class="container">
            <h1 class="fw-bold">겜할래</h1>
            <p>관심있는 게임과 플레이 시간대를 설정하세요.<br>게임 친구들을 모을 수 있는 기능을 제공합니다.</p>
        </div>
    </div>
</div>
<div th:replace="~{fragment.html :: footer}"></div>


</body>
</html>