<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragment.html :: head}"></head>
<body>
<div th:replace="~{fragment.html :: main-nav}"></div>

<div class="container">
    <div class="py-5 text-center text-white ">
        <br/>
        <form th:action="@{/search/room}" sec:authorize="isAuthenticated()" method="get"
              class="mx-auto" style="max-width: 600px;">
            <div class="input-group input-group-lg rounded-pill overflow-hidden shadow">
                <!-- 왼쪽 아이콘 영역 -->
                <span class="input-group-text bg-white border-0" id="search-icon">
                <i class="fa fa-search text-muted"></i>
            </span>
                <!-- 실제 검색 인풋 -->
                <input type="search"
                       class="form-control border-0"
                       placeholder="원하는 게임을 검색하세요."
                       aria-label="Search"
                       name="keyword"
                       aria-describedby="search-icon">
            </div>
        </form><br/>
        <p class="lead" th:if="${roomPage.getTotalElements() == 0}">
            <span th:text="${keyword}" id="keyword" class="context"></span>에 해당하는 방이 없습니다. 방을 새로 만들어 보아요.
        </p>
        <p class="lead" th:if="${roomPage.getTotalElements() > 0}">
            <span th:text="${keyword}" id="roomPage" class="context"></span>에 해당하는 방을
            <span th:text="${roomPage.getTotalElements()}"></span>개 찾았습니다.
        </p>
        <div class="dropdown float-end">
            <button class="btn btn-light dropdown-toggle text-end" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                검색 결과 정렬 방식
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" th:classappend="${#strings.equals(sortProperty, 'activeDateTime')}? active"
                   th:href="@{'/search/room?sort=activeDateTime,desc&keyword=' + ${keyword}}">
                    방 공개일
                </a>
                <a class="dropdown-item" th:classappend="${#strings.equals(sortProperty, 'memberCount')}? active"
                     th:href="@{'/search/room?sort=memberCount,desc&keyword=' + ${keyword}}">
                    멤버수
                </a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
    <div th:replace="~{fragment.html :: room-list (roomPage = ${roomPage.getContent()})}"></div>
        <nav aria-label="Page navigation example ">
            <ul class="pagination mt-5 justify-content-center">
                <!-- 이전 버튼: 첫 페이지면 비활성화 -->
                <li class="page-item" th:classappend="${!roomPage.hasPrevious()} ? 'disabled'">
                    <a class="page-link" th:href="@{|/search/room?keyword=' + ${keyword} + &sort='
                      + ${sortProperty} + ',desc&page=' + ${roomPage.getNumber()-1}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <!-- 페이지 번호: 0부터 totalPages-1까지의 번호를 생성하고, 현재 페이지에는 active 클래스 추가 -->
                <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, roomPage.getTotalPages() - 1)}"
                    th:classappend="${pageNum == roomPage.number} ? 'active'">
                    <a class="page-link" th:href="@{'/search/room?keyword=' + ${keyword}
                    + '&sort=' + ${sortProperty} + ',desc&page=' + ${pageNum}}"
                       th:text="${pageNum + 1}">1</a>
                </li>
                <!-- 다음 버튼: 마지막 페이지면 비활성화 -->
                <li class="page-item" th:classappend="${roomPage.last} ? 'disabled'">
                    <a class="page-link" th:href="@{|/search/room?keyword=' + ${keyword} + &sort='
                      + ${sortProperty} + ',desc&page=' + ${roomPage.getNumber() + 1 }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div th:replace="~{fragment.html :: footer}"></div>
<script src="/node_modules/dayjs/dayjs.min.js"></script>
<script src="/node_modules/dayjs/locale/ko.js"></script>
<script>
    dayjs.locale('ko');
    document.querySelectorAll('.datetime').forEach(elem => {
        const rawText = elem.innerText.trim();
        if(rawText){
            elem.innerText = dayjs(rawText).format('YYYY년 MM월 DD일 dddd HH:mm');
        }
    });
</script>
</body>
</html>