<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragment.html::head}">
</head>
<body>
<nav th:replace="~{fragment.html :: main-nav}"></nav>
<div class="container mt-5  text-body-emphasis custom-room">
    <div th:replace="~{fragment.html :: room-info}"></div>
    <div th:replace="~{fragment.html::room-menu (roomMenu = 'events')}"></div>
    <div class="row px-3 justify-content-center bg-white" style="min-height: 100vh;">
        <div class="col-md-4 mb-4" th:each="event : ${events}">
            <div class="card mt-3 h-100">
                <div class="card-body">
                    <h5 class="card-title" th:text="${event.title}">Event Title</h5>


                    <p class="card-text">
                        시작 시간: <span th:text="${#temporals.format(event.startedAt, 'yyyy-MM-dd HH:mm')}">Start Time</span>
                    </p>
                    <p class="card-text" th:utext="${event.description}">Event description</p>
                </div>
                <div class="card-footer text-end">
                    <a th:href="@{'/room/' + ${room.path} + '/events/' + ${event.id}}"
                       class="btn btn-primary btn-sm">상세보기</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragment.html::footer}"></div>
<script th:replace="~{fragment.html :: tooltip}"></script>
</body>
</html>
