<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragment.html::head}">
</head>
<body>
<nav th:replace="~{fragment.html :: main-nav}"></nav>

<div class="container mt-5  text-body-emphasis custom-room">
    <div th:replace="~{fragment.html :: room-info}"></div>
    <div th:replace="~{fragment.html::room-menu (roomMenu = 'members')}"></div>
    <div class="row px-3 justify-content-center bg-white" style="min-height: 100vh;">
        <ul class="list-unstyled col-10">
            <div th:if="${message}" class="alert alert-primary alert-dismissible fade show mt-3" role="alert">
                <span th:text="${message}">완료</span>
                <button type="button" class="btn-close position-absolute top-50 end-0 translate-middle-y me-2" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <li class="d-flex align-items-center mt-3" th:each="member : ${room.roomAccounts}">
                <img th:src="${member != null && !#strings.isEmpty(member?.getAccount().profileImage) && member.getAccount().profileImage != '' ? member.getAccount().profileImage : '/images/default.png'}"
                     class="img-fluid rounded-circle img-thumbnail profile-image"
                     width="64" height="64" alt="User Avatar" th:alt="${member !=null ? member.nickname : 'Default User'}">
                <div class="ms-3">
                    <h5 class="mt-0 mb-1">
                        <a th:href="@{'/profile/' + ${member.getNickname()}}" style="color: black; text-decoration: none" >
                            <span th:text="${member.getNickname()}" style="color: black">아아</span>
                        </a>
                        <span th:if="${member.isManager()}" class="badge badge-background">매니저</span>
                        <span th:if="${member.isMaster()}" class="badge badge-background">방장</span>
                        <span th:if="${member.isMember()}" class="badge badge-background">게스트</span>
                        <span th:if="${isMaster and member.isMember()}">
                            <form th:action="@{'/room/' + ${room.path} + '/promote?targetAccountId=' + ${member.account.id}}" style="display: inline" method="post">
                                <button type="submit" class="btn btn-outline-success btn-sm">승급</button>
                            </form>
                        </span>
                        <span th:if="${isMaster and member.isManager()}">
                            <form th:action="@{'/room/' + ${room.path} + '/demote?targetAccountId=' + ${member.account.id}}" style="display: inline" method="post">
                                <button type="submit" class="btn btn-outline-success btn-sm">강등</button>
                            </form>
                        </span>
                        <button type="button" class="btn btn-outline-danger btn-sm ban-btn"
                                th:attr="data-bs-target='#confirmBanModal__' + ${member.account.id}"
                                data-bs-toggle="modal"
                                th:if="${isMaster and member.account.id != account.id}">
                            추방
                        </button>
                    </h5>
                    <div class="modal fade"
                         th:id="'confirmBanModal__' + ${member.account.id}"
                         tabindex="-1"
                         th:attr="aria-labelledby='confirmBanModalLabel__' + ${member.account.id}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        id="confirmBanModalLabel__[[${member.account.id}]]">
                                        멤버 추방
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                                </div>
                                <div class="modal-body">
                                    정말로 [[${member.nickname}]] 님을 추방하시겠습니까?<br>
                                    멤버를 추방하면 해당 멤버에게 추방 메시지가 전달됩니다.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">취소</button>
                                    <form th:action="@{'/room/' + ${room.path} + '/banned?targetAccountId=' + ${member.account.id}}"
                                          method="post">
                                        <button type="submit" class="btn btn-danger">확인</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div th:replace="~{fragment.html::footer}"></div>
<script th:replace="~{fragment.html :: tooltip}"></script>
</body>
</html>
